<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>
<h1>Welcome to text analyzer.enter yor text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 720px; height: 100px;'></textarea><br>
    <input type="checkbox" name="removepunc">remove punctuation<br>
    <input type="checkbox" name="fullcaps">capitalize<br>
    <input type="checkbox" name="newline">newline removal<br>
    <input type="checkbox" name="spaceremove">space removal<br>
    <input type="checkbox" name="charcount">char counterrrrr<br>
    <button type='submit'>analyze text</button>
</form>
